<div class="center jumbotron">
  <h1>Welcome to I Love Andi!</h1>
  
  <h2>
    I Love Andi is a social network created by Taylor Beeston.
  </h2>
  
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
                  'http://rubyonrails.org/' %>