<% provide(:title, "About") %>
<h1>About</h1>
<p>
  i-love-andi.com is a social network, minus most of the social aspects.
  Users here may share text and photos, even follow each other, but there is
  no liking or retweeting of any kind here! Think of it like a small, private
  blog to let out your thoughts.
  <br />
  It is developed with Ruby on Rails, with a lot of help from the 
  <%= link_to "Ruby on Rails Tutorial by Michael Hartl.",
              "http://www.railstutorial.org/" %>
  </a>
  <br />
  Check out the source code on 
  <%= link_to "GitHub!", github_link %>
</p>
