<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  For any questions, please email me at
  <%= link_to "beeston.taylor@gmail.com.", "mailto:beeston.taylor@gmail.com" %>
  <br />
  Feel free to also submit any issues or pull requests to the
  <%= link_to "Github Repository.", github_link %>
</p>
