<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  For any questions, please email me at 
  <a href="mailto:beeston.taylor@gmail.com">beeston.taylor@gmail.com</a>. <br />
  Feel free to also submit any issues or pull requests to the
  <a href="https://github.com/TaylorBeeston/I-Love-Andi">Github Repository</a>.
</p>