<li>
  <%= profile_picture_for user %>
  <%= link_to user.name, user %>
  <% if !current_user?(user) %>
    <% if current_user.admin? %>
    | <%= link_to "delete", user, method: :delete,
                                    data: { confirm: "You sure?" } %>
    <% end %>
    <div class="pull-right">
      <%= render(partial: 'users/follow_form', locals: { u: user }) %>
    </div>
  <% end %>
</li>
