<%= link_to profile_picture_for(current_user), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to "View Profile", current_user, 
                                  class: "btn btn-primary btn-sm" %></span>
<span><%= pluralize(current_user.microposts.count, "micropost") %></span>