@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc */

$gray-medium-light: #eaeaea;
$offblack: #191919;
$red-danger: #c9302c;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

$grid-float-breakpoint: 992px;

/* universal */

body {
  padding-top: 60px;
  background: $gray-dark;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
    color: lightgray;
  }
}

.jumbotron {
  background: $offblack;
}
.profile_picture {
  float: left;
  height: 80px;
  width: 80px;
  margin-right: 10px;
  border-radius: 50%;
}

.btn-danger {
  background: $red-danger;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: lightgray;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

h3 {
  color: $gray-medium-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: lightgray;
}

span {
  color: lightgray;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

#user-search {
  margin-top: 13px;
  margin-left: 0px;
  margin-right: -15px;
  border-radius: 25px;
  border: 1px solid #000;
  padding: 0px 12px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray-light;
    &:hover {
      color: $gray-medium-light;
    }
  }
  
 small {
   float: left;
 } 
 
 ul {
   float: right;
   list-style: none;
   li {
     float: left;
     margin-left: 15px;
   }
 }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.profile_picture_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: $gray-medium-light;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: gray;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .profile_picture {
    margin: 1px 1px;
    height: 30px;
    width: 30px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
  background: $gray-dark;
  color: lightgray;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.form-control {
  background: $gray-dark;
  color: lightgray;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.follow_form {
  display: inline-block;
  padding-top: 5px;
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.pagination {
  background: $gray-dark;
  border: 1px solid $gray-medium-light;
  text-align: center;
  padding: 1em;
  cursor: default;
  a, span {
    padding: 0.2em 0.3em;
  }
  .disabled{
    color: $offblack;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background-color: lightgray;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(white, .8) 1px 1px 1px;
  }
  a {
    text-decoration: none;
    color: lightgray;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  .profile_picture {
    width: 50px;
    height: 50px;
  }
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  
  .user {
    margin-top: 5em;
    padding-top: 0;
    .follow_form {
      padding: 5px;
    }
  }
  
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  
  .profile_picture {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}